#myPic{
    width:150px;
    height: 150px;
    float: left;
}

#background{
    background-image: url(../Images/moroccan-flower.png);
}


.myContent{
    float:right;
}
.navbar-brand{
    padding:10px;
}

#footer {
    background-color: #726f6f;
}

.border-top {
    border-top: 10px solid #0280c9 !important;
}
