#myPic{
    width:150px;
    height: 150px;
    float:left;
}

.border-bottom {
    border-bottom: 7px solid #dbdddf !important;
    }
}
.name{
    padding: 20px;
}

#background{
    background-image: url(../Images/moroccan-flower.png);
}


.myContent{
    float:right;
}
.navbar-brand{
    padding:10px;
}

#footer {
    background-color: #726f6f;
}

.border-top {
    border-top: 6px solid #0280c9 !important;
}
